@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');
@import url('https://fonts.googleapis.com/css?family=Bree-Serif|Gloria+Hallelujah|Roboto|Satisfy');
body {
  text-align: center;
  background-color: #ffd521;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-family: 'Gloria Hallelujah', sans-serif;
  font-size: 40px;
  font-style: oblique;
  color: black;
}

h2{
  font-family: 'Roboto', sans-serif;
  font-style: oblique;
  font-size: 25px;
  color: black;
}

button {
  font-weight: bold;
  padding: 6px 15px;
  background-color: #68addf;
  color: black;
  border: 1px solid #ccc;
}

button.b1 {
  width: 170px;
}

button.finalBtns {
  margin-top: 5px;
  width: 50px;
}

h2#finalScore {
  color: white;
  font-size: 100px;
  margin: 50px 0px;
  letter-spacing: 7px;
  -webkit-text-stroke: 1px black;
}

input#user {
  padding: 5px 15px;
}
button#nextQuestion {
  margin-top: 10px;
}
